
#canvas-wrapper {
    background-image: radial-gradient(#003333 25%, #000);
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
}

#canvas-grid-cells,
#canvas-grid-lines {
    display: block;
    position: absolute;
}

.text {
  background-color: transparent;
  color: #00CCCC;
  font-family: monospace;
  margin:0  0.25rem;
}

.text:last-child {
	margin-top: 1rem;
}

.text.caret::after {
  animation: blink-caret 1s step-end infinite;
  color: inherit;
  content: '_';
  font-weight: bolder;
}

@keyframes blink-caret {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}