/* horizontal scroll */

#horizontal-scoll {
    padding: 200px 0;

background: black;    
background-image: url("../images/bg1.png"); 
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
height: 100vh; 
width: 100%; 
background: black;
    
    
  }
  
  .horizontal-scoll-wrapper {
    overflow: hidden;
    height: 525px;
    /* margin-top: -100px; */
    background: black;


  }
  
  .horizontal {
    display: flex;
  }
  
  .horizontal > div {
    display: flex;
    flex-shrink: 0;
    padding: 0 5px;
  }
  
  .horizontal > div:first-child {
    padding: 0 5px 0 15px;
  }
  
  .horizontal > div:last-child {
    padding: 0 15px 0 5px;
  }
  
  .horizontal .card {
    align-items: stretch;
    width: 500px;
    padding: 50px 40px;
    background: rgba(0, 128, 128, 0.326) !important;
    border-radius: 38px;
    color: #f6f2e8;
    height: 350px;
    margin-right: 40px;
    border: 2px dotted #00CCCC;
    background: black !important;
  }
  .servicesHead{
    margin-top: -100px;
    color: white;
    margin-bottom: 100px;
  }

  .imgContainer img{
    height: 80px;
    margin-bottom: 20px;
  }
  .detailsContainer p{
text-align: justify;
font-size: 15px;
  }
  .viewMoreBtn{
    color: teal !important;
    border: 1px solid teal !important;
    margin-top: 20px;
  }
  .viewMoreBtn:hover{
background: rgba(0, 128, 128, 0.56) !important;
color: white !important;
  }