@media (max-width: 780px) {
  .Element1card {
    width: 100px;
    top: 20%;
    display: none;
  }
  .element2card {
    width: 100px;
    top: 60%;
    display: none;
  }
  .main .text {
    font-size: 10px;
  }
  .homeLogo {
    height: 80px;
  }
  .clock {
    display: none;
  }
  nav {
    width: 90vw;
    bottom: 10vh;
  }
  .menuHeading i {
    font-size: 10px;
    margin-top: 10px;
  }

  .horizontal .card {
    width: 90vw;
    height: 300px;
  }
  .horizontal .card h2 {
    font-size: 15px;
  }
  .imgContainer img {
    height: 40px;
  }

  .detailsContainer p {
    text-align: justify;
    font-size: 10px;
  }
  .viewMoreBtn {
    color: teal !important;
    border: 1px solid teal !important;
    margin-top: 20px;
  }
  .viewMoreBtn:hover {
    background: rgba(0, 128, 128, 0.56) !important;
    color: white !important;
  }
  .nav-inner li img {
    height: 25px !important;
  }
  .homeImg {
    height: 10px !important;
  }
}
